<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<html class="no-js">
<head>
  <title>Shopping Cart</title>
  <meta charset="utf-8">
  <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <![endif]-->
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css" id="color-switcher-link">
  <link rel="stylesheet" href="css/animations.css">
  <link rel="stylesheet" href="css/fonts.css">
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  
  <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.min.js"></script>
    <script src="js/vendor/respond.min.js"></script>
  <![endif]-->

</head>
<body>
  <!--[if lt IE 9]>
      <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
  <![endif]-->
  
  <div class="preloader">
    <div class="preloader_content loading">
      <span class="slice"></span>
      <span class="slice"></span>
      <span class="slice"></span>
      <span class="slice"></span>
      <span class="slice"></span>
      <span class="slice"></span>
    </div>
  </div>

<!-- search modal -->
<div class="modal" tabindex="-1" aria-labelledby="search_modal" id="search_modal">
  <div class="widget widget_search">
    <form method="get" class="searchform form-inline" action="">
      <div class="form-group">
        <input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
      </div>
      <button type="submit" class="theme_button">Search</button>
    </form>
  </div>
</div>

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
<div id="box_wrapper">

<!-- template sections -->
<div class="page_topline2 ls">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <p class="social-networks__title">Social Networks:</p>
        <ul class="social-networks__list">
          <li><a href="#"><i class="rt-icon2-facebook"></i></a></li>
          <li><a href="#"><i class="rt-icon2-twitter"></i></a></li>
          <li><a href="#"><i class="rt-icon2-google-plus"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <ul class="inline-dropdown drop-list inline-block">
          <li class="dropdown login-dropdown my-account">
            <a class="header-button" id="login" data-target="#" href="" data-toggle="dropdown" aria-expanded="false">
              <i class="flaticon-user"></i>
              {% if session.logged_in %}
              <a class="header-button">Hello  {{session.username}}</a>
              {% endif  %}
            </a>
          </li>
          <li class="dropdown search-modal">
            <a href="#" class="search_modal_button header-button">
              <i class="flaticon-search"></i>
            </a>
          </li>
          <li class="dropdown cart-dropdown">
            <a class="header-button" id="cart" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
              <i class="flaticon-basket"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="cart">
              <div class="widget widget_shopping_cart">
  
  <div class="widget_shopping_cart_content">
    
  </div>
</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<header class="page_header header_white floating_logo columns_padding_0">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <a href="./" class="logo logo_image">
          <img src="images/logo.png" alt="">
        </a>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-6 text-align__right">
        <!-- main nav start -->
<nav class="mainmenu_wrapper">
  <ul class="mainmenu nav sf-menu">
    <li><a href="index.html">Home</a></li>
	<li><a href="shop-right">Shop</a></li>
	<li><a href="cart-right">Shopping Cart</a></li>
	<li><a href="checkout-right">Checkout</a></li>
    {% if session.logged_in  %}
    <li><a href="logout">Logout</a></li>
    {% else  %}
	<li><a href="register">Registration</a></li>
    {% endif  %}
  </ul>
</nav>
<!-- eof main nav -->
        <span class="toggle_menu"><span></span></span>
      </div>
    </div>
  </div>
</header>
<div class="breadcrumbs-01">
  <div class="page_breadcrumbs ls ms">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-breadcrumbs__wrapper">
            <h1 class="page-breadcrumbs__title">Cart</h1>
            <ul class="breadcrumb">
              <li><a href="">HomePage</a></li>
              <li><a href="shop-right">Shop</a></li>
              <li class="active">Cart</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ls section_padding_top_100">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="shop-adds text-center">
          <span class="grey">Shopping Cart</span>
          <i class="arrow-icon-right-open-mini"></i>
          <span>Checkout</span>
          <i class="arrow-icon-right-open-mini"></i>
          <span>Order Complete</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ls section_padding_top_75 section_padding_bottom_75 columns_padding_25">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-10 col-lg-11">
         <div class="table-responsive">
  <table class="table cart-table">
    <thead>
      <tr>
        <td class="product-info">Product</td>
        <td class="product-price-td">Price</td>
        <td class="product-quantity">Quantity</td>
        <td class="product-subtotal">Subtotal</td>
        <td class="product-remove">&nbsp;</td>
      </tr>
    </thead>
    
    <tbody>
       {% for item in items %}
      <tr class="cart_item">
        <td class="product-info">
          <div class="media">
            <div class="media-left">
                <a href="product?iid={{item['IID']}}">
                  {% if item['imageURL'] == "" %}
                  <img class="media-object cart-product-image" src="images/shop/noimage.jpg" alt="">
                    {% else %}
                  <img class="media-object cart-product-image" src="{{item['imageURL']}}" alt="">
                  {% endif %}
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <a href="product?iid={{item['IID']}}">At vero eos et accusam</a>
              </h4>
              <span class="grey">Color:</span> {{item['Color']}}<br>
              <span class="grey">Brand:</span> {{item['Brand']}}
            </div>
          </div>                
        </td>
        <td class="product-price">
            <span class="currencies">$</span><span class="amount">{{item['Price']}}</span>                  
        </td>
        <td class="product-quantity">
          <div class="quantity">
              <input type="number" name="product_quantity" value="" title="Qty" class="form-control" placeholder="{{item['amount']}}">
          </div>
        </td>
        <td class="product-subtotal">
            <span class="currencies">$</span><span class="amount">{{item['amount'] * item['Price']}}</span>                 
        </td>
        <td class="product-remove">
            <a href="remove-cart?iid={{item['IID']}}" class="remove fontsize_24" title="Remove this item">
            <i class="rt-icon2-trash"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="cart-buttons">
  <a class="theme_button" href="shop-right">Countinue Shopping</a>
  <a  href="checkout-right" class="theme_button color2">Proceed to Checkout</a>
</div>

<div class="cart-collaterals">
  <div class="cart_totals">
    <h4>Cart Totals</h4>
    <table class="table">
      <tbody>
        <tr class="shipping">
          <td>Shipping and Handling</td>
          <td>
            Free Shipping              
          </td>
        </tr>
        <tr class="order-total">
          <td class="grey">Order Total</td>
          <td><strong class="grey"><span class="currencies">$</span><span class="amount">{{total}}</span> </strong> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="coupon with_padding muted_background">
      <h3 class="topmargin_0">Discount Codes</h3>
      <p>Enter coupon code if you have one</p>
      <div class="form-group">
        <label class="sr-only" for="coupon_code">Coupon:</label> 
        <input type="text" name="coupon_code" class="form-control" id="coupon_code" value="" placeholder="Coupon code">
      </div>
      <a class="theme_button" href="#">Apply Coupon</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="shipping-calculator-form with_padding muted_background">
      <h3 class="topmargin_0">Shipping &amp; Tax</h3>
      <p>Enter destination to get shipping</p>
      <div class="form-group">
        <select name="calc_shipping_country" id="calc_shipping_country" class="country_to_state form-control">
          <option value="">Select a country…</option>
          <option value="AX">Åland Islands</option>
          <option value="OM">Oman</option>
          <option value="GB" selected="selected">United Kingdom (UK)</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" value="" placeholder="State / county" name="calc_shipping_state" id="calc_shipping_state">        
      </div>
      <div class="form-group">
        <input type="text" class="form-control" value="" placeholder="Postcode / Zip" name="calc_shipping_postcode" id="calc_shipping_postcode">
      </div>
      <div>
        <button type="submit" name="calc_shipping" class="theme_button" value="1">Update Totals</button>
      </div>
    </div>
  </div>
</div>
      </div> <!--eof .col-sm-8 (main content)-->
      
      <!-- sidebar -->
      <aside class="col-sm-5 col-md-4 col-lg-4">
        <div class="sidebar__wrapper">
  <div class="ls">
    <div class="widget widget_search">
</div>
  </div>
  <div class="ls">
    <div class="widget widget_price_filter"> 
  <!-- price slider -->
</div>
  </div>
  <div class="ls">
    <div class="widget widget_products widget_popular_entries">
      </aside> <!-- eof aside sidebar -->
    </div>
  </div>
</div>

<footer class="page_footer ds ms">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 footer-block__01 to_animate decoration__line_l offset_padding_top_90 offset_padding_bottom_85" >
        <div class="widget widget_text page-footer__logo">
          <p class="page-footer__logo-wrapper"><img src="images/logo_bottom.png" alt=""></p>
          <p>Suspendisse dictum porttitor bibendum. Fusce eget lacus id quam tincidunt mattis. Etiam fringilla felis rhoncus, volutpat dui nec, eleifend turpis.  Mauris posuere urna ac elementum.</p>
        </div>
        <div class="widget widget__payment"> 
          <h3 class="widget__payment-title">Payment</h3>
          <div class="big">
            <a href="#"><i class="fa fa-cc-visa"></i></a>
            <a href="#"><i class="fa fa-cc-mastercard"></i></a>
            <a href="#"><i class="fa fa-cc-discover"></i></a>
            <a href="#"><i class="fa fa-cc-amex"></i></a>
            <a href="#"><i class="fa fa-cc-paypal"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 footer-block__02 to_animate decoration__line_r offset_padding_top_90 offset_padding_bottom_85 horizontal_offset_padding_40">
        <!-- mailchimp -->
        <div class="widget widget_mailchimp">
  <h3 class="widget_mailchimp-title">Newsletter</h3>
  <p class="widget_mailchimp__text">Subscribe to our latest news to be updated. We promise not to spam!</p>
  <form class="signup form-inline" action="" method="get">
    <div class="form-group">
      <input name="email" type="email" class="mailchimp_email form-control" placeholder="Email address">
    </div>
    <button type="submit" class="theme_button">Subscribe</button>
    <div class="response"></div>
  </form>
</div>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <!-- footer navigation -->
            <div class="widget widget_nav_menu greylinks">
              <h3 class="widget-title">My Account</h3>
               <ul class="menu">
                <li class="">
                  <a href="#">My Account</a>
                </li>
                <li class="">
                  <a href="#">My Fashion</a>
                </li>
                <li class="">
                  <a href="#">Login</a>
                </li>
                <li class="">
                  <a href="#">Register</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <!-- shopping guide -->
            <div class="widget widget_nav_menu greylinks">
              <h3 class="widget-title">Shopping Guide</h3>
              <ul class="menu">
                <li class="">
                  <a href="#">Checkout</a>
                </li>
                <li class="">
                  <a href="#">Cart</a>
                </li>
                <li class="">
                  <a href="#">Contact Usy</a>
                </li>
                <li class="">
                  <a href="#">Blog</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <!-- contact us -->
            <div class="widget widget_nav_menu greylinks">
              <h3 class="widget-title">Contact Us</h3>
              <ul class="menu">
                <li class="">
                  <a href="#">About Us</a>
                </li>
                <li class="">
                  <a href="#">Blog</a>
                </li>
                <li class="">
                  <a href="#">Search</a>
                </li>
                <li class="">
                  <a href="#">Sitemap</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="page_copyright ds table_section section_padding_20">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center text-lg-left">
        <p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
      </div>
    </div>
  </div>
</div>
</div><!-- eof #box_wrapper -->
</div><!-- eof #canvas -->

 
    <script src="js/compressed.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
