<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<html class="no-js">
<head>
  <title>Single Item</title>
  <meta charset="utf-8">
  <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <![endif]-->
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css" id="color-switcher-link">
  <link rel="stylesheet" href="css/animations.css">
  <link rel="stylesheet" href="css/fonts.css">
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  
  <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.min.js"></script>
    <script src="js/vendor/respond.min.js"></script>
  <![endif]-->

</head>
<body>
  <!--[if lt IE 9]>
      <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
  <![endif]-->
  
  <div class="preloader">
    <div class="preloader_content loading">
      <span class="slice"></span>
      <span class="slice"></span>
      <span class="slice"></span>
      <span class="slice"></span>
      <span class="slice"></span>
      <span class="slice"></span>
    </div>
  </div>

<!-- search modal -->
<div class="modal" tabindex="-1" aria-labelledby="search_modal" id="search_modal">
  <div class="widget widget_search">
    <form method="get" class="searchform form-inline" action="">
      <div class="form-group">
        <input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
      </div>
      <button type="submit" class="theme_button">Search</button>
    </form>
  </div>
</div>

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
<div id="box_wrapper">

<!-- template sections -->
<div class="page_topline2 ls">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <p class="social-networks__title">Social Networks:</p>
        <ul class="social-networks__list">
          <li><a href="#"><i class="rt-icon2-facebook"></i></a></li>
          <li><a href="#"><i class="rt-icon2-twitter"></i></a></li>
          <li><a href="#"><i class="rt-icon2-google-plus"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <ul class="inline-dropdown drop-list inline-block">
          <li class="dropdown login-dropdown my-account">
            <a class="header-button" id="login" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="flaticon-user"></i>
              {% if session.logged_in  %}
              <a class="header-button">Hello   {{session.username}}</a>
              {% endif %}
            </a>
          </li>
          <li class="dropdown search-modal">
            <a href="#" class="search_modal_button header-button">
              <i class="flaticon-search"></i>
            </a>
          </li>
          <li class="dropdown cart-dropdown">
            <a class="header-button" id="cart" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
              <i class="flaticon-basket"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="cart">
              <div class="widget widget_shopping_cart">
  
  <div class="widget_shopping_cart_content">
    
  </div>
</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<header class="page_header header_white floating_logo columns_padding_0">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <a href="./" class="logo logo_image">
          <img src="images/logo.png" alt="">
        </a>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-6 text-align__right">
        <!-- main nav start -->
<nav class="mainmenu_wrapper">
  <ul class="mainmenu nav sf-menu">
    <li><a href="index.html">Home</a></li>
	<li><a href="shop-right">Shops</a></li>
	<li><a href="cart-right">Shopping Cart</a></li>
	<li><a href="checkout-right">Checkout</a></li>
    {% if session.logged_in  %}
    <li><a href="logout">Logout</a></li>
    {% else  %}
	<li><a href="register">Registration</a></li>
    {% endif  %}
  </ul>
</nav>
<!-- eof main nav -->
        <span class="toggle_menu"><span></span></span>
      </div>
    </div>
  </div>
</header>
<div class="breadcrumbs-01">
  <div class="page_breadcrumbs ls ms">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-breadcrumbs__wrapper">
              <h3 class="total">{{product['Name']}}</h1>
            <ul class="breadcrumb">
              <li><a href="">HomePage</a></li>
              <li><a href="shop-indi?sid={{product['SID']}}">Shop</a></li>
              <li class="active">Product</li>
            </ul>
            <p>{{product['Description']}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ls ls section_padding_top_100 section_padding_bottom_75 columns_padding_25">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="row single-shop-item">
  <div class="col-lg-7 single-shop-item__img">
    <div id="slider" class="flexslider">
      <ul class="slides">
        <li>
            <a href="{{product['imageURL']}}" class="main-image zoom" title="" data-gal="prettyPhoto[product-gallery]">
                {% if product['imageURL']%}
                <img src="{{product['imageURL']}}" alt="" />
                {% else %}
                <img src="static/image/shop/noimage.jpg" />
                {% endif %}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-5 single-shop-item__content">
    <div class="single-shop-item__content-wrapper">
      <div class="single-shop-item__tag-wrapper">
          <a href="" class="single-shop-item__tag">{{product['Brand']}}</a>
      </div>
      <h3 class="single-shop-item__title">{{product['Name']}}</h3>
      <div class="single-shop-item__star-rating">
        <div class="star-rating" title="Rated 4.00 out of 5">
          <span style="width:80%">
            <strong class="rating">4.00</strong> out of 5
          </span>
        </div>
      </div>
      <div class="single-shop-item__text">
        <p>
            {{product['Description']}}
        </p>
      </div>
      <div class="single-shop-item__custom-item">
          <p class="single-shop-item__custom-text"><span>Inventory: </span> {{product['Inventory']}}</p>
          <p class="single-shop-item__custom-text"><span>Color: </span> {{product['Color']}}</p>
      </div>
      <form action="add-to-cart" method="POST" class="single-shop-item__gty">
        <input type="hidden" value={{product['IID']}} name="iid">
        <span class="quantity form-group">
          <input type="button" value="-" class="minus">
          <input type="number" step="1" min="0" name="product_quantity" value="1" title="Qty" id="product_quantity" class="form-control ">
          <input type="button" value="+" class="plus">
        </span>
        <button class="single-shop-item__button">add to cart</button>
        <span class="price">
          <span>
              <span class="amount">$ {{product['Price']}}</span>
          </span>
        </span>
      </form>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>

{% if session['is_operator'] %}
<div class="ls ls section_padding_top_100 section_padding_bottom_75 columns_padding_25">
  <div class="container">
    <div class="row">
        <form action="delete" method="GET" class="shop-register">
            <label for="billing_address">
                <span class="grey">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp
                </span>
            </label>
            <input type="hidden" name="iid" value="{{product['IID']}}">
            <input type="hidden" name="type" value="delete">
            <button type="submit" class="theme_button wide_button color2">delete</button>
        </form>
        <form action="update" method="POST" class="shop-register">
            <label for="billing_first_name" class="control-label">
                <span class="grey">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    update name: 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                </span>
            </label>
            <input type="hidden" name="iid" value="{{product['IID']}}">
            <input type="hidden" name="type" value="name">
            <input type="TEXT" name="name" placeholder="{{product['Name']}}">
            <button type="submit" class="theme_button wide_button color">update</button>
        </form>  
        <form action="update" method="POST" class="shop-register">
            <label for="billing_first_name" class="control-label">
                <span class="grey">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                    update brand: 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                </span>
            </label>
            <input type="hidden" name="iid" value="{{product['IID']}}">
            <input type="hidden" name="type" value="brand">
            <input type="TEXT" name="name" placeholder="{{product['Brand']}}">
            <button type="submit" class="theme_button wide_button color">update</button>
        </form>  
        <form action="update" method="POST" class="shop-register">
            <label for="billing_first_name" class="control-label">
                <span class="grey">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                    update price: 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                </span>
            </label>
            <input type="hidden" name="iid" value="{{product['IID']}}">
            <input type="hidden" name="type" value="price">
            <input type="TEXT" name="name" placeholder="{{product['Price']}}">
            <button type="submit" class="theme_button wide_button color">update</button>
        </form>  
        <form action="update" method="POST" class="shop-register">
            <label for="billing_first_name" class="control-label">
                <span class="grey">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                    update color: 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                </span>
            </label>
            <input type="hidden" name="iid" value="{{product['IID']}}">
            <input type="hidden" name="type" value="color">
            <input type="TEXT" name="name" placeholder="{{product['Color']}}">
            <button type="submit" class="theme_button wide_button color">update</button>
        </form>  
        <form action="update" method="POST" class="shop-register">
            <label for="billing_first_name" class="control-label">
                <span class="grey">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                    update inventory: 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                </span>
            </label>
            <input type="hidden" name="iid" value="{{product['IID']}}">
            <input type="hidden" name="type" value="inventory">
            <input type="TEXT" name="name" placeholder="{{product['Inventory']}}">
            <button type="submit" class="theme_button wide_button color">update</button>
        </form>  
        <form action="update" method="POST" class="shop-register">
            <label for="billing_first_name" class="control-label">
                <span class="grey">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                    update description: 
                    &nbsp&nbsp 
                </span>
            </label>
            <input type="hidden" name="iid" value="{{product['IID']}}">
            <input type="hidden" name="type" value="description">
            <input type="TEXT" name="name" placeholder="{{product['Description']}}">
            <button type="submit" class="theme_button wide_button color">update</button>
        </form>  
    </div>
  </div>
</div>
{% endif %}

<footer class="page_footer ds ms">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 footer-block__01 to_animate decoration__line_l offset_padding_top_90 offset_padding_bottom_85" >
        <div class="widget widget_text page-footer__logo">
          <p class="page-footer__logo-wrapper"><img src="images/logo_bottom.png" alt=""></p>
          <p>Suspendisse dictum porttitor bibendum. Fusce eget lacus id quam tincidunt mattis. Etiam fringilla felis rhoncus, volutpat dui nec, eleifend turpis.  Mauris posuere urna ac elementum.</p>
        </div>
        <div class="widget widget__payment"> 
          <h3 class="widget__payment-title">Payment</h3>
          <div class="big">
            <a href="#"><i class="fa fa-cc-visa"></i></a>
            <a href="#"><i class="fa fa-cc-mastercard"></i></a>
            <a href="#"><i class="fa fa-cc-discover"></i></a>
            <a href="#"><i class="fa fa-cc-amex"></i></a>
            <a href="#"><i class="fa fa-cc-paypal"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 footer-block__02 to_animate decoration__line_r offset_padding_top_90 offset_padding_bottom_85 horizontal_offset_padding_40">
        <!-- mailchimp -->
        <div class="widget widget_mailchimp">
  <h3 class="widget_mailchimp-title">Newsletter</h3>
  <p class="widget_mailchimp__text">Subscribe to our latest news to be updated. We promise not to spam!</p>
  <form class="signup form-inline" action="" method="get">
    <div class="form-group">
      <input name="email" type="email" class="mailchimp_email form-control" placeholder="Email address">
    </div>
    <button type="submit" class="theme_button">Subscribe</button>
    <div class="response"></div>
  </form>
</div>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <!-- footer navigation -->
            <div class="widget widget_nav_menu greylinks">
              <h3 class="widget-title">My Account</h3>
               <ul class="menu">
                <li class="">
                  <a href="#">My Account</a>
                </li>
                <li class="">
                  <a href="#">My Fashion</a>
                </li>
                <li class="">
                  <a href="#">Login</a>
                </li>
                <li class="">
                  <a href="#">Register</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <!-- shopping guide -->
            <div class="widget widget_nav_menu greylinks">
              <h3 class="widget-title">Shopping Guide</h3>
              <ul class="menu">
                <li class="">
                  <a href="#">Checkout</a>
                </li>
                <li class="">
                  <a href="#">Cart</a>
                </li>
                <li class="">
                  <a href="#">Contact Usy</a>
                </li>
                <li class="">
                  <a href="#">Blog</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <!-- contact us -->
            <div class="widget widget_nav_menu greylinks">
              <h3 class="widget-title">Contact Us</h3>
              <ul class="menu">
                <li class="">
                  <a href="#">About Us</a>
                </li>
                <li class="">
                  <a href="#">Blog</a>
                </li>
                <li class="">
                  <a href="#">Search</a>
                </li>
                <li class="">
                  <a href="#">Sitemap</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="page_copyright ds table_section section_padding_20">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center text-lg-left">
        <p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
      </div>
    </div>
  </div>
</div>
</div><!-- eof #box_wrapper -->
</div><!-- eof #canvas -->

 
    <script src="js/compressed.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
